<div class="container col-6 border border-4 rounded">
    <!--Intro text  -->
    <h5>Welcome to Pick a Tradie. Connecting quality tradies with quality clients.
        Our listed tradies are reliable and trustworthy, all while providing an efficient service suited to your needs.
        We pride ourselves on providing professional, timely, and knowledgeable tradespeople from all specialities.
        Check out out recent business listings below.
    </h5>
</div>

{{#each users as |user| }}
<div class="d-flex justify-content-center">
<div class="list-group ">
    <div class="list-group-item list-group-item-action active">
      <div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1">
          <a href="/profile/{{user.id}}">{{user.businessName}}</a>
        </h3>
        <p>{{user.license}}</p>
        <p class="mb-1">{{user.bio}}</p>
      </div>
    </div>
  </div>
</div>
{{/each}}
