<div class="container col-6 border border-4 rounded">
    <!--Intro text  -->
    <h5>Aenean vel pellentesque leo. Proin et tempor metus. Ut quis sapien eu est tincidunt imperdiet. 
        Mauris eleifend velit erat, quis venenatis augue pharetra in. Donec dictum, sem quis ultrices lobortis, turpis mauris convallis nibh, 
        et tempor sem mi id lacus. Nulla eleifend, turpis ac porta tincidunt, nisl est fermentum sapien, et facilisis massa nunc scelerisque 
        velit. Donec varius nisl eu molestie fringilla. 
    </h5>
  </div>

{{#each users as |user| }}
<div class="d-flex justify-content-center">
<div class="list-group ">
    <div class="list-group-item list-group-item-action active">
      <div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1">
          <a href="/profile/{{user.id}}">{{user.businessName}}</a>
        </h3>
        <p>{{user.license}}</p>
        <p class="mb-1">{{user.bio}}</p>
      </div>
    </div>
  </div>
</div>
{{/each}}
