<div class="d-flex p-2 mt-5 justify-content-evenly col-10">
    <form id="sign-up-form">
        <!--New user sign up -->
        <div class="row p-3">
            <div>
                <h3>Sign Up</h3>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Business Name</label>
                    <input type="text" class="form-control" id="name-signup" placeholder="Business Name">
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput">Email</label>
                    <input type="email" class="form-control" id="email-signup" placeholder="name@example.com">
                    <span id="signup-email-error"></span>
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password-signup">
                </div>
                <button class="btn btn-primary" id="signUpBtn" type="submit">Sign Up</button>
            </div>
        </div>
    </form>

    <form id="login-form">
    <!--Existing user sign in-->
        <div class="row p-3">
            <div>
                <h3>Login</h3>
                <div class="form-group">
                    <label for="formGroupExampleInput">Email</label>
                    <input type="email" class="form-control" id="email-login" placeholder="name@example.com">
                    <span id="login-email-error"></span>
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password-login">
                </div>
                <button class="btn btn-primary" type="submit" id="signInBtn">Log In</button>
            </div>
        </div>
    </form>
</div>
<script src="https://unpkg.com/validator@latest/validator.min.js"></script>
<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>
