<div class="d-flex justify-content-center">
<div class="card w-75 ">
  <div class="card-header">
    Business Name 
  </div>
    <div class="card-body col-10">
      <h6 class="card-subtitle mb-2 text-muted">License: 235978432</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Phone</a>
      <a href="#" class="card-link">Email</a>
      <div class="card text-center col-6">
      <div class="card-header ">
          Looking for something specific?
        </div>
        <div class="card-body">
          <h5 class="card-title">Tradie Specialties</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer text-muted">
        </div>
      </div>
    </div>
  </div>
  </div>