body {
  background-color: #1c465a;
  background-image: url("/assets/background2.jpg");
  background-size:cover;
}

.btn-primary {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.btn-primary:hover {
  color: #fafafa;
}

.special-tasks {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.btn-secondary {
  background-color: #d9e9e8;
  color: #618be0;
  font-size: 15px;
  font: sans-serif;
  padding: 7px;
}

.btn.btn-primary:hover {
  background-color: #57779a;
}

.card-Users
{
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  background-color: #f0f0f0;
  color: black;
  font-size: 18px;
  font: sans-serif;
}

form {
  width: 100%;
}

form .form-group {
  display: block;
  width: 100%;
  margin: 0.625rem 0;
}

form .form-input,
form .form-textarea {
  display: block;
}

form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
}

form {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0.625rem 0 0.25rem 0.3rem;
}

form .login-form {
  width: 100%;
  padding: 0.75rem;
  color: black;
  background-color: #f0f0f0;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}

form {
  border-radius: 0;
}

form [type='checkbox'],
form [type='radio'] {
  display: inline-block;
}

form [type='checkbox'],
form [type='radio'] {
  display: inline-block;
}

p {
  color: black;
}