.btn-primary {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .btn-primary:hover {
    color: #065b83;
    text-decoration: underline;
  }

  .special-tasks {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
  }