.btn-primary {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .btn-primary:hover {
    color: #065b83;
    text-decoration: underline;
  }

  .special-tasks {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
  }

  .btn.btn-secondary {
    background-color: #d9e9e8;
    color: #618be0;
    font size: 15px;
    font: sans-serif;
  }
  
  .btn.btn-primary:hover {
    background-color: #57779a;
  }